.main-container-books-edit {
  width: 100%;
  display: flex;
}

.main-container-books-edit h3 {
  color: #3f53b5;
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.books-edit-form {
  width: calc(30% - 15px);
  padding-right: 15px;
}

.books-edit-list {
  width: 75%;
}

@media (max-width: 1000px) {
  .main-container-books-edit {
    flex-direction: column;
    align-items: center;
  }

  .books-edit-form {
    width: 70%;
    padding-right: 15px;
  }

  .books-edit-list {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .th2,
  .td2,
  .th3,
  .td3 {
    display: none;
  }
}

@media (max-width: 600px) {
  .th5 {
    text-align: center;
  }
  .td5 button {
    margin-right: 10px;
  }
}

@media (max-width: 550px) {
  td,
  th {
    padding: 10px;
  }
  .books-edit-form {
    width: 100%;
  }

  .books-edit-list {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .th4,
  .td4 {
    display: none;
  }
}
