form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  border-style: none;
  box-shadow: 0 0 4px rgb(93, 92, 92);
  /* border: thin solid #3f53b5; */
}

textarea {
  font-family: sans-serif;
  height: 20vh;
}

input[type="submit"] {
  width: 140px;
  background-color: #3f53b5;
  color: #fff;
  font-weight: bold;
  border-style: none;
  border: 2px solid #3f53b5;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.3s ease-in-out;
  color: #3f53b5;
  background-color: #fff;
}

input[type="reset"] {
  padding: 3px;
  width: 70px;
  font-weight: bold;
  color: #3f53b5;
  border: thin solid #3f53b5;
  cursor: pointer;
  box-shadow: none;
}

input[type="reset"]:hover {
  box-shadow: 0 0 4px gray;
}
